<div class="home">
  <div class="home-page">
    <h1 class="title">Premium car rental</h1>
    <p>Skip the rental car counter — Book exotic and luxury car rentals near you from trusted,
    local hosts on Rent a Ride, the world's largest car sharing marketplace.</p>
    <%= link_to "Get Started", cars_path, class:"home-button" %>
  </div>
    <img src="https://res.cloudinary.com/luda9/image/upload/v1661359725/van1_tmlt0j.png" alt="van1" class="van chevrolet">
    <img src="https://res.cloudinary.com/luda9/image/upload/v1661359725/van2_agfcs1.png" alt="van2" class="van cadillac">
</div>
